.noemi3-wrapper {
    position: relative;
    width: 100%;
    padding: 16px 100px 16px 100px;
    box-sizing: border-box;

    .content {
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;

        .header {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .enter-btn {
                margin-right: 40px;
                padding: 0 60px;
                color: rgba(255, 255, 255, 0.6);
                border: 1px solid rgba(255, 255, 255, 0.6);
                border-radius: 20px;
                line-height: 2rem;
                font-size: 1.2rem;
                cursor: pointer;
                font-weight: 300;
            }

            img {
                height: 2rem;
            }
        }

        .card-list {
            width: 100%;
            height: 100%;
            margin: 1rem 0 20px 0;
            flex: 1;
            display: flex;
            align-items: start;
            flex-wrap: wrap;

            .card-first {
                display: flex;
                justify-content: space-between;
            }

            .card-second {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

            .card {
                margin-top: 10px;
                position: relative;
                border-radius: 40px;
                width: 24%;
                background-color: #111;
                padding: 1.4rem;
                display: flex;
                box-sizing: border-box;
                flex-direction: column;
                justify-content: space-between;
                transition: transform 0.3s;

                .card-header {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    .sort {
                        display: flex;
                        flex-direction: column;

                        span {
                            font-size: 0.8rem;
                            color: rgba(255, 255, 255, 0.6);
                        }
                    }

                    img {
                        height: 4rem;
                        border-radius: 50%;
                    }
                }

                h2 {
                    margin-top: 1rem;
                    font-size: 1.5rem;
                    margin-bottom: 10px;
                }

                .description {
                    margin-top: 0;
                    font-size: 0.9rem;
                    min-height: 4rem;
                    margin-bottom: 0;
                }

                p, a {
                    margin: 14px 0;
                    color: rgba(255, 255, 255, 0.6);
                    font-size: 1rem;
                    line-height: 1.4;
                }
            }

            .card:hover {
                animation: neonShadow 6s infinite alternate;
            }
            .card::before {
                content: '';
                position: absolute;
                inset: 0;
                padding: 8px;
                border-radius: 40px;
                background: linear-gradient(135deg, #ff6a00, #ee0979, #7f00ff, #00c6ff, #00ff6a);
                -webkit-mask:
                        linear-gradient(#fff 0 0) content-box,
                        linear-gradient(#fff 0 0);
                -webkit-mask-composite: destination-out;
                mask-composite: exclude;
                pointer-events: none;
            }

            .card-empty {
                width: 24%;
            }

            .card-pie {
                min-height: 350px;
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .pie {
                    width: 160px;
                    height: 70px;
                    position: relative;
                    overflow: hidden;
                    border-radius: 40px;
                    background: conic-gradient(
                            #175de1,
                            #4dcf09,
                            #d3ef05,
                            #ca2d97,
                            #40484e,
                            #15274a
                    );
                }

                .pie::before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    border-radius: 40px;
                    background: conic-gradient(
                            #92ACDD,
                            #564BDC,
                            #E4F661,
                            #b4b673,
                            #00ff6a,
                            #92ACDD
                    );
                    animation: spin 6s linear infinite;
                }

                .pie::after {
                    content: '';
                    position: absolute;
                    inset: 8px;
                    border-radius: 32px;
                    background: #000;
                }
            }
        }

        .footer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .year {
                font-size: 16px;
                font-weight: bold;
                color: #14BCFF;
            }

            .menu-icon {
                height: 40px;
            }
        }
    }
}

@keyframes neonShadow {
    0% {
        box-shadow: 0 0 0px rgba(255,60,60,0.7),
        0px 0px 0px rgba(255,130,60,0.6),
        0px 0px 0px rgba(255,235,60,0.5);
    }
    20% {
        box-shadow: 0 0 30px rgba(255,60,60,0.7),
        15px 10px 60px rgba(255,130,60,0.6),
        -15px -10px 90px rgba(255,235,60,0.5);
    }
    40% {
        box-shadow: 10px -10px 50px rgba(255,130,60,0.6),
        -10px 15px 75px rgba(255,235,60,0.5),
        15px 0 60px rgba(60,255,87,0.5);
    }
    60% {
        box-shadow: -15px 15px 75px rgba(255,235,60,0.5),
        10px -15px 60px rgba(60,255,87,0.5),
        0 0 90px rgba(60,255,245,0.5);
    }
    80% {
        box-shadow: 15px -10px 60px rgba(60,255,87,0.5),
        -10px 10px 50px rgba(60,255,245,0.5),
        0 0 75px rgba(255,60,60,0.7);
    }
    100% {
        box-shadow: 0 0 30px rgba(255,60,60,0.7),
        15px 10px 60px rgba(255,130,60,0.6),
        -15px -10px 90px rgba(255,235,60,0.5);
    }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}