/* 背景视频 */
.noemi1-bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 90%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.noemi1-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 26px 100px 100px 100px;
    box-sizing: border-box;

    .content {
        height: 100%;
        position: relative;

        .header {
            position: absolute;
            display: flex;
            left: 0;
            right: 0;
            align-items: flex-start;
            justify-content: space-between;
            z-index: 1;

            .logo-area img {
                height: 280px;
            }

            .header-right {
                display: flex;
                align-items: center;

                .enter-btn {
                    margin-right: 40px;
                    padding: 0 60px;
                    border: 1px solid #fff;
                    border-radius: 20px;
                    line-height: 42px;
                    font-size: 24px;
                    cursor: pointer;
                    font-weight: 300;
                }

                img {
                    height: 42px;
                }
            }
        }

        .hero {
            height: 100%;
            align-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 1;

            .hero-title {
                margin-top: 10%;
                margin-bottom: 10px;
                font-size: 80px;
                text-align: center;
            }

            .sub-title {
                margin-top: 0;
                font-size: 24px;
                text-align: center;
                color: rgba(255, 255, 255, 0.6);
                font-weight: 300;
            }

            .start-btn {
                margin-top: 30px;
                padding: 8px 60px;
                color: #111;
                border-radius: 25px;
                background-color: #14BCFF;
                font-size: 24px;
                cursor: pointer;
                font-weight: 600;
                transition: transform 0.3s ease, box-shadow 0.3s ease;
            }

            .start-btn:hover {
                transform: translateY(-5px); /* 元素上移5px */
                box-shadow: 0 8px 15px rgba(20, 188, 255, 0.8); /* 下方阴影 */
            }

            .year-text {
                flex: 1;
                margin-top: 20px;
                font-size: 24px;
                color: rgba(255, 255, 255, 0.6);
            }
        }

        .footer {
            position: absolute;
            left: 0;
            right: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .year {
                font-size: 16px;
                font-weight: bold;
                color: #14BCFF;
            }

            .app_web {
                position: relative;
                font-size: 24px;
                color: rgba(255, 255, 255, 0.6);
                padding: 0 10px;
                border: 2px solid transparent;
                display: inline-block;
                font-weight: 300;

                .app_web_test {
                    span {
                        padding: 0 5px;
                    }

                    display: inline-block;
                    /* WebKit 要求的前缀写法 —— 注意这里用 rgba(...) 表示 alpha */
                    -webkit-mask-image: -webkit-linear-gradient(to left,
                        rgba(0, 0, 0, 0) 0%,
                        rgba(0, 0, 0, 1) 20%,
                        rgba(0, 0, 0, 1) 80%,
                        rgba(0, 0, 0, 0) 100%
                    );
                    -webkit-mask-size: 100% 100%;
                    -webkit-mask-repeat: no-repeat;

                    /* 标准写法 */
                    mask-image: linear-gradient(to right,
                    rgba(0, 0, 0, 0) 0%,
                    rgba(0, 0, 0, 1) 20%,
                    rgba(0, 0, 0, 1) 80%,
                    rgba(0, 0, 0, 0) 100%
                    );
                    mask-size: 100% 100%;
                    mask-repeat: no-repeat;
                }
            }

            .menu-icon {
                height: 40px;
            }
        }
    }
}




